<div class="dashboard-modal-panel">
    <a href='#' class='modalClose' (click)='closeClick()'></a>
    <h1 class='dashboard-h1'> Cohort Dashboard </h1>
    <div #chartContainer style='padding-bottom:200px;'><!--
        Cohort: 
        <mat-form-field>
        <mat-select placeholder='All Patients' [(ngModel)]='cohort' (selectionChange)="onCohortChange($event)">
            <mat-option *ngFor="let option of cohorts" [value]="option">
            {{option.n}}
            </mat-option>
        </mat-select>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Measure:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Compare With:
        <mat-form-field>
        <mat-select placeholder='' [(ngModel)]='cohortSecondary' (selectionChange)="onCohortSecondaryChange($event)">
            <mat-option *ngFor="let option of cohortsAndNone" [value]="option">
            {{option.n}}
            </mat-option>
        </mat-select>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br /> -->
    </div>
</div>

